.patientInfo{
    display: flex;
    margin-bottom: 30px;
}

.name{
    display: flex;
    font-size: 1.6em;
    margin: 0 40px;
    font-family: 'Alata', sans-serif;
    color: #036B7F;
    max-width: 10em;
}

.textCont{
    display: flex;
    flex-direction: column;
}

.img{
    width: 15em;
    height: 20em;
    border: #036B7F 2px solid;
    box-shadow: 10px 10px 5px grey;
}

.patientInfoCard{

}

.container{
    display: flex;
    width: 90%;
    min-height: 50vh;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.patientInfoParagraph{
    margin: 20px 40px;
    color: #036B7F;
    font-size: 1.3em;
    text-align: justify;
}
