@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.darkButton {
    display: flex;
    min-height: 2.5em;
    min-width: 4em;
    border: none;
    background: #036B7F;
    color: #EDF5F6;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.darkButton:hover {
    background: #BED9DE;
    color: #036B7F;
    cursor: pointer;
}

.darkButton:active {
    background: #036B7F;
    color: #EDF5F6;
}


.lightButton {
    display: flex;
    max-height: 2.5em;
    min-width: 4em;
    border: none;
    background: #EDF5F6;
    color: #036B7F;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: center;
    padding: 10px;
}

.lightButton:hover {
    background: #036B7F;
    color: white;
    cursor: pointer;
}

.lightButton:active {
    background: #EDF5F6;
    color: #036B7F;
}
