.container{
    display: flex;
    margin: 0;
    flex-direction: column;
}

.label{
    padding: 10px 2px 10px 2px;
    text-align: center;
    display: flex;
    min-width: 5.5em;
    align-self: baseline;
    font-size: 1.5em;
}

.input{
    display: flex;
    border: 2px solid #BED9DE;
    min-height: 10em;
    min-width: 100em;
    align-self: baseline;
}
