@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.container {
    display: flex;
    width: 90%;
    min-height: 60vh;
    flex-wrap: wrap;
    padding: 0 10px;
}

.img {
    width: 15em;
    height: 20em;
    border: #036B7F 2px solid;
    box-shadow: 10px 10px 5px grey;

}

.name {
    display: flex;
    font-size: 1.6em;
    margin: 0 40px;
    font-family: 'Alata', sans-serif;
    color: #036B7F;
    max-width: 10em;
}

.appointmens {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #036B7F;
    margin-bottom: 20px;
    height: 50%;
}

.nextAppointment {
    display: flex;
    min-width: 10em;
    width: 30em;
    border: #036B7F 3px solid;
    flex-direction: column;
    margin-left: 20px;
    height: 25em;
}

.appointmentInfo {
    display: flex;
    height: 80%;
    width: 20em;
    align-self: center;
}

.buttonContainer {
    display: flex;
    width: 100%;
    height: 20%;
    background: #036B7F;
    justify-content: center;
    align-items: flex-end;
}

.doctorInfo {
    display: flex;
}

.textCont {
    display: flex;
    flex-direction: column;
}

.doctorInfopara {
    margin: 20px 40px;
    color: #036B7F;
    font-size: 1.3em;
}

p {
    display: flex;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

h4 {
    display: flex;
}
