.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 38em;
    justify-content: flex-start;
    align-items: center;
}

.title{
    display: flex;
    font-size: 3em;
    width: 98%;
    color: #036B7F;
    border-bottom: #036B7F 3px solid;
    padding-left: 2%;
}

.error{
    color: red;
    margin:10px 0;
}

.btn{
    padding: 20px;
}
