.appointmentInfo {
    display: flex;
    height: 80%;
    min-width: 5em;
    align-self: flex-start;
    color: #036B7F;
    font-size: 1.3em;
}

.nextAppointment {
    display: flex;
    min-width: 5em;
    border: #036B7F 4px solid;
    flex-direction: column;
    height: 35em;
    width: 25em;
    margin: 10px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    height: 20%;
    padding: 10px 0;
    background: #036B7F;
    align-items: flex-end;
    justify-content: space-evenly;
}

.img{
    display: flex;
    width: 20em;
    border: #036B7F 2px solid;
    align-self: center;
}

