.container {
    width: 100%;
    padding: 0 10px;
    right: 5px;
}

.bar {
    width: 150px;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.userContainer {
    padding: 0 10px;
    left: 5px;
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.user {
    padding: 0 5px;
}

.btn {
    color: red;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    height: 5em;
    width: 10em;
    padding-right: 3px;
    margin-right: 20px;
    align-self: flex-start;
}

.btn:hover {
    cursor: pointer;
}
