.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 38em;
    justify-content: flex-start;
    align-items: center;
}

.title{
    display: flex;
    font-size: 3em;
    width: 98%;
    color: #036B7F;
    border-bottom: #036B7F 3px solid;
    padding-left: 2%;
}

.History{
    display: flex;
    width: 100%;
    height: 30em;
    flex-direction: column;
    align-items: center;
}

.error{
    display: flex;
    width: 30em;
    color: red;
    font-size: 3em;
}

.historyText{
    display: flex;
    width: 80%;
    padding-left: 5%;
    align-self: center;
    justify-content: flex-start;
    text-align: justify-all;
    font-size: 1.5em;
    color: #036B7F;
}
