
.container{
    display: flex;
    height: 30em;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}


.dates{
    display: flex;
    flex-direction: row;
    min-height: 5em;
    margin: 10px;
    min-width: 30em;
}

.title{
    margin: 10px;
    font-size: 1.5em;
}

.error{
    margin-top: 10px;
    width: 20em;
    font-size: 10px;
    color: red;
}

