.Container{
    display: flex;
    width: 100%;
    min-height: 30em;
    justify-content: center;
    flex-direction: column;
}

.dates{
    display: flex;
    flex-direction: row;
    height: 5em;
    width: 100%;
    justify-content: center;
}

.title{
    margin: 20px;
    font-size: 1.5em;
}

.appointmentsContainer{
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.noAppointment{
    color: #036B7F;

}
