.container{
    display: flex;
    margin: 0;
}

.label{
    padding: 10px 2px 10px 2px;
    text-align: center;
    display: flex;
    width: 5.5em;
    align-self: baseline;
    font-size: 1.3em;
}

.input{
    display: flex;
    border: 2px solid #BED9DE;
    border-radius: 10px;
    height: 2em;
    align-self: baseline;
}
