@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

.header{
    background: #036B7F;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    max-height: 11vh;
    min-height: 5vh;
}

.title{
    color: #EDF5F6;
    margin: 0;
    min-font-size: 5vh;
    font-size: 6vh;
    max-font-size: 10vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.title a {
    margin: 0;
    text-decoration: none;
    color: #EDF5F6;
}
