.link{
    margin: 0;
    max-width: 15em;
    text-decoration: none;
    font-size: 20px;
    color: #036B7F;
    align-self: center;
    border-radius: 10px;
}

.element{
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    padding:5px;
    list-style: none;
    min-width: 5em;
    max-width: 15em;
    border-radius: 10px;
    border: #036B7F solid 2px;
    background: #EDF5F6;
    text-align: center;
}

.element:hover{
    background: #036B7F;
    color: #EDF5F6;
}

.element:active{
    border: #036B7F solid 2px;
    background: #EDF5F6;
    color: #036B7F;
}
