.footer{
    display: flex;
    justify-content: space-between;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    background: #036B7F;
    line-height: 1.6;
}

.title{
    display: flex;
    min-font-size: 2vh;
    font-size: 3vh;
    max-font-size: 4vh;
    width: 40vw;
    color: #EDF5F6;
}

.names{
    display: flex;
    width: 20vw;
    min-font-size: 1vh;
    font-size: 2vh;
    max-font-size: 3vh;
    color: #EDF5F6;
}

.img{
    min-width: 8em;
    width: 17.5vw;
    height: auto;
    display: block;
    padding-bottom: 20px;
}
