@import url('https://fonts.googleapis.com/css?family=Jomolhari|Lato&display=swap');

.card{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 50vh;
    margin: 10px 20px 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.img{
    display: flex;
    min-width: 200px;
    width: 50%;
    height: auto;
    align-self: center;
    padding: 10px;

}

.title{
    display: flex;
    align-self: center;
    font-family: 'Jomolhari', serif;
    font-size: 4vh;
    max-font-size: 40px;
    color: #EDF5F6;
    background: #036B7F;
    width: 100%;
    justify-content: center;
}

.text{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
    height: auto;
    padding: 10px;
    text-align: justify ;
}

.textContainer{
    display: flex;
    flex-direction: column;
}
