.loginContainer{
    display: flex;
    margin: 0;
    height: 31.7em;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: 0;
    padding: 0;
    border: 0;
}

.loginCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20em;
    min-height: 10em;
    border: #036B7F solid 2px;
    align-self: center;
    padding: 5px;
    margin-bottom: 3em;
}

.button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.error{
    display: flex;
    border: 2px red solid;
    width: 20em;
    height: 2.2em;
    align-self: center;
    background: red;
    font-size: 2em;
    color: white;
    justify-content: center;
}
