.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 35.5em;
    justify-content: center;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    align-self: center;
}

.buttonContainer{
    display: flex;
    width: 10em;
    align-self: center;
    margin: 20px;
}

.error{
    display: flex;
    align-self: center;
    color:red
}
