.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorContainer{
    display: flex;
    justify-content: center;
}

.error{
    color: red;
    font-size: 1.7em;
}

.dates{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.noAppointment{
    display: flex;
    align-self: center;
    color: #036B7F;
    font-size: 4em;
}

.appointmentsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 10em;
    min-height: 9em;
    align-self: center;
    margin: 10px 0;
}

.buttons{
    display: flex;
    align-self: center;
    margin: 20px;
}

.title{
    display: flex;
    font-size: 20px;
    align-self: center;
    margin: 0;
}
