.navbar{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50px;
}

.list{
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 10px;
    flex-wrap: wrap;
}
